.styled-div {
  & ._2dZTy {
    fill: white;
  }

  & ._KxSXS rect {
    fill: white;
  }
}

.content g text {
  fill: #5d6776;
  text-overflow: ellipsis;
  alignment-baseline: middle;
  font-weight: bold;
}

._KxSXS g {
  filter: drop-shadow(2px 1px 1px rgba(0, 0, 0, 0.5));
}

.rowLines line {
  stroke: none;
}

._CZjuD {
  border-bottom: 1px solid #eeeded;
  border-right: 1px solid #eeeded;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

._2B2zv div {
  border-bottom-left-radius: 8px;
}

._2B2zv div div:last-child {
  border-bottom-left-radius: 8px;
}

.calendarTop line {
  stroke: none;
}

.calendarTop {
  text-anchor: start;
}

.calendarTop text {
  text-anchor: start;
}

/* .ticks line:nth-child(7n-1) {
  stroke: #5D6776;
  &::after {
    content: "testtjeoitjeriojg";
    fill: #5D6776;
    background-color: aqua;
    color: yellow;
    width: 500px;
    height: 500px;
  }
}

.ticks line:nth-child(7n) {
  stroke: #5D6776;
} */
